@font-face {
  src: url('../fonts/Bagnard.otf');
  font-family: "Bagnard";
}

@font-face {
  src: url('../fonts/StyreneA-Medium.otf');
  font-family: "Styrene";
}

@font-face {
  src: url('../fonts/GTAmericaMono-Regular.otf');
  font-family: "GTAmerica";
}
