@font-face {
  src: url('../fonts/Bagnard.otf');
  font-family: "Bagnard";
}

@font-face {
  src: url('../fonts/GTAmerica-Light.otf');
  font-family: "GTAmerica";
}

@font-face {
  src: url('../fonts/StyreneA-Regular.otf');
  font-family: "Styrene";
}
