@font-face {
  src: url('../fonts/MaisonNeue-Book.ttf');
  font-family: "Maison Neue Book";
}

@font-face {
  src: url('../fonts/MaisonNeue-Demi.ttf');
  font-family: "Maison Neue Demi";
}

@font-face {
  src: url('../fonts/MaisonNeue-Mono.ttf');
  font-family: "Maison Neue Mono";
}
