body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  color: #1F1F1F;
  font-size: 13px;
  font-family: "GTAmerica", monospace;
}

p{
  font-size: 15px;
  line-height: 23px;
}

a{
  font-family: "GTAmerica", monospace;
  border-bottom: 1px dotted #1F1F1F;
  text-decoration: none;
  color: inherit;
  padding-bottom: .1em;
}

ul{margin: 0; padding: 0;}
li{list-style: none;}



/* Bootstrap classes */

.text-center{text-align: center;}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before, .row:after{
  display: table;
  content: " ";
}

.row:after{
  clear: both;
}

.col-md-6{
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-7{
  width: 58.3333333331%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.pull-right{
  float: right;
}

@media (max-width: 768px) {
  .col-md-6, col-md-7{width: 100%; float: none; padding-left: 0; padding-right: 0;}
  .row{margin-left: 0; margin-right: 0;}
  .pull-right{float: none;}
}

/* Meaningful classes*/

.container{
  margin: 0px auto;
  width: 960px;
  max-width: 90%;
  position: relative;
}


/* HEADER */

header{
  margin: 100px auto 200px;
  position: relative;
}

h2{
  font-family: "Styrene", sans-serif;
  font-weight: normal;
  font-size: 36px;
  margin: 85px 0 115px 0;
}

.video-container{
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}
#video video, #video img{
  border-radius: 4px;
  opacity: .2;
  width: 100%;
}

header .contact{
  margin-top: 90px;
  font-size: 11px;
}

@media (min-width: 768px) {
  #video video{display: block;}
  #video img{display: none;}
}
@media (max-width: 768px) {
  #video video{display: none;}
  #video img{display: block;}
}


/* FDC */


#fdc{position: relative; margin-bottom: 185px;}
#fdc:after{content: " "; display: table; clear: both;}


#fdc .content{
  padding: 83px 0 83px 83px;
  background: #F2F4F8;
  border-radius: 8px;
  display: block;
  height: 264px;
}

#fdc .thumbnail{
  float: left;
  max-width: 385px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-right: 100px;
}

#fdc img{width: 100%;}

#fdc .label{
  text-transform: uppercase;
  font-size: 11px;
  color: #4707F5;
  margin-bottom: 32px;
}

#fdc .title{
  font-family: "Styrene", sans-serif;;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 56px
}

#fdc .role{
  color: #888888;
  margin-bottom: 32px;
}

#fdc .link{line-height: 21px;}
#fdc .link:before{content: "/ ";}

#fdc .right-background{
  z-index: -1;
  position: absolute;
  height: 430px;
  width: 50%;
  right: 0;
  top: 0;
  background: #F2F4F8;
}

#first-contact.contact {
  position: relative;
}


@media (max-width: 768px) {
  #fdc .content{padding: 20px; height: auto !important;}
  #fdc .thumbnail{float: none; margin-right: 0; margin-bottom: 50px;}
  #fdc .right-background{display: none;}
}

/* Current projects */
#projects{margin-bottom: 200px;}

#projects h2{margin: 0 0 82px 0;}

#projects .project-list li{
  padding: 20px 0;
  border-bottom: 1px solid #EDEDED;
  color: #888888;
}
#projects .project-list li a{color: #1F1F1F;}

#projects .project-list li:first-of-type{border-top: 1px solid #EDEDED;}

#projects .project-title{
  display: inline-block;
}

@media (max-width: 768px) {
  #projects .project-title{margin-bottom: 10px;}
}


/* Footer */

footer .contact{
  padding: 60px 0;
  background: #F2F4F8;
  border-radius: 8px;
  margin-bottom: 100px;
}

footer .contact #footer-contact {
  position: relative;
  z-index: 0;
}

footer .contact #footer-contact span{
  position: relative;
}
footer .contact #footer-contact a {
  z-index: 10;
}

footer .contact h3{
  font-family: "Styrene", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 7px 0;
}

footer .contact a{
  font-size: 15px;
  line-height: 23px;
}

footer .subfooter{margin-bottom: 100px;}

footer .subfooter .beers{
  display: inline-block;
  font-size: 11px;
  line-height: 23px;
  color: #888;
}

footer .subfooter #links{
  float: right;
  display: inline-block;
}
footer .subfooter #links ul li{
  margin-left: 32px;
  display: inline-block;
  position: relative;
  font-size: 11px;
}

.beers .emoji{ height: 1.4em; margin: 0 .05em 0 .1em; vertical-align: -0.2em;}


@media (max-width: 768px) {
  footer .subfooter #links{float: none; margin-top: 10px; display: block;}
  footer .subfooter #links ul li{margin-left: 0; margin-right: 32px;}
}
